/*** Radio Image STARTS ***/
input.stylish-radio-image {
    display: none;
}
input.stylish-radio-image + span {
    margin-right: 10px;
    display: inline-flex;
    padding: 2px!important;
    width: auto;
    height: auto;
    overflow: hidden;
    border: 2px solid #FFFFFF;
}
input.stylish-radio-image:checked + span {
    border: 2px solid #777777;
}
/*** Radio Image ENDS ***/

/*** Upgrade Button STARTS ***/
#btn-wen-upgrade{
  clear: both;
  display: block;
  margin-top: 5px;
}
#btn-wen-upgrade .btn-upgrade{
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #fff;
  box-shadow: none;
}
#btn-wen-upgrade .btn-upgrade:hover{
  background-color: #5c995c;
}
/*** Upgrade Button ENDS ***/
