@import "../css/thirdparty/fullcalendar.css";

@import "../css/thirdparty/fullcalendar.custom.css";
@charset "UTF-8";
/* CSS Document */
/* @import "../css/shared.css"; */
/**********************
       CONSTANTS
***********************/
/*Fonts*/
/*
//// Calendar-specific ////
*/
/*Colors*/
/*Layout*/
#calendar {
  position: relative;
  padding: 24px;
}
#cloud-default #cal-month {
  margin: 20px;
}
.border-box {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tool-header {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 70px;
  border-bottom: 0;
}
.margin-interact {
  margin: 10px 20px;
  position: relative;
}
.margin-interact h3 {
  border: none;
  text-transform: uppercase;
  font-size: 115%;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  color: #696458;
  font-weight: 200;
  margin: 18px 0 12px;
}
.margin-interact h3.month-name {
  text-align: center;
  font-weight: lighter;
}
.cloud-calendar {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
}
.cloud-calendar .month-nav {
  margin-bottom: 10px;
  list-style: none;
  display: inline-block;
  text-align: center;
}
.cloud-calendar .month-nav h2.month-header {
  font-size: 1.8em;
  font-weight: lighter;
  color: #333;
  text-align: center;
  padding: 0 12px;
}
.cloud-calendar .month-nav li {
  display: inline-block;
  float: left;
}
.cloud-calendar .month-nav li a {
  position: relative;
  top: 8px;
  width: 14px;
  height: 14px;
  display: block;
  overflow: hidden;
  background-color: #f4f4f4;
  background-image: url('../images/calendar/arrow-nav-sprite.png');
  background-repeat: no-repeat;
  border: 1px solid #999;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.cloud-calendar .month-nav li.nav-prev a {
  background-position: -1px -1px;
}
.cloud-calendar .month-nav li.nav-prev a:hover {
  background-color: #CCC;
}
.cloud-calendar .month-nav li.nav-next a {
  background-position: -1px -31px;
}
.cloud-calendar .month-nav li.nav-next a:hover {
  background-color: #CCC;
}
/**********************
        UTLITY
***********************/
.u_floatThis-left {
  float: left !important;
}
.u_floatThis-right {
  float: right !important;
}
/*/mybb core*/
/*Colors*/
/* Bb Colors */
/*	Bb Light Grey		*/
.calendar-list input[type="checkbox"] {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 100%;
  position: relative;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .calendar-list input[type="checkbox"] {
    margin-top: 1px;
  }
}
.calendar-list .calendar-name {
  margin: 0 0 3px 0;
  padding: 0;
  position: relative;
  word-wrap: break-word;
}
.calendar-list .calendar-name label {
  display: block;
  cursor: pointer;
  border: 1px solid #CCC9C3;
  background: transparent;
  position: relative;
  padding: 4px 12px 4px 30px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  font-weight: 500;
  color: #666;
  font-size: 95%;
}
.calendar-list .calendar-name label:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #333;
  border-color: #999;
}
.calendar-list .calendar-name label span:last-child {
  font-weight: normal;
  color: #777;
}
.calendar-list .calendar-name .label-color {
  position: absolute;
  padding: 6px 4px 0;
  top: -1px;
  left: -1px;
  bottom: -1px;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.calendar-list .calendar-name .label-color .notch {
  position: absolute;
  right: -5px;
  top: 7px;
  border-top: 5px solid transparent;
  border-left: 5px solid #000;
  border-right: 0;
  border-bottom: 5px solid transparent;
  padding: 0;
  width: 0;
  height: 0;
  /* ie6 height fix */

  font-size: 0;
  line-height: 0;
  /* ie6 transparent fix */

  _border-right-color: pink;
  _border-left-color: pink;
  _filter: chroma(color=#ffc0cb);
}
.calendar-list .calendar-name .colorPicker-picker {
  position: absolute;
  bottom: 3px;
  right: 3px;
}
/*Create New Event*/
#create-new-event #input-new-event-name {
  font-size: 1.8em;
  width: 92%;
  border: 1px solid #999;
  -moz-box-shadow: inset 0 0 3px 0 #999;
  -webkit-box-shadow: inset 0 0 3px 0 #999;
  box-shadow: inset 0 0 3px 0 #999;
}
#create-new-event #gotocourseobjectlink {
  margin-top: 10px;
  margin-left: 20px;
}
#create-new-event #editcourseobjectlink {
  margin-top: 10px;
  display: inline-block;
}
#create-new-event #eventgradebutton {
  margin-top: 10px;
  margin-right: 20px;
}
.event-heading {
  background-color: transparent;
  margin: 10px 20px;
  position: relative;
}
.event-heading input#eventtitle {
  font-size: 110%;
  padding: 4px 8px;
  width: 100%;
  font-weight: 600;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.event-actions {
  padding: 10px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #999;
}
.event-details {
  padding: 0 20px;
}
.event-details #morelinks {
  padding: 3px;
}
.event-details #morelinks a {
  text-decoration: underline;
  font-size: 0.8em;
  color: #1E9EA8;
}
.event-details textarea {
  padding: 2px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 105%;
}
#eventstart,
#eventend {
  width: 160px;
}
.event-buttons {
  padding: 10px;
}
.close-this {
  position: absolute;
  top: 0px;
  right: 0px;
}
.icaldialog {
  font-size: 95%;
}
.icalurl {
  background: #F0F0F0;
  padding: 9px 12px;
  font-weight: 500;
  font-size: 95%;
  word-break: break-word;
}
.ui-datepicker-div {
  border: 1px solid #666;
}
.ui-datepicker-div .ui-datepicker-calendar {
  margin: 5px !important;
}
.ui-timepicker-div .ui-widget-header {
  margin-bottom: 8px;
}
.ui-tpicker-grid-label {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.ui-timepicker-div {
  padding: 5px;
  color: #676767;
}
.ui-timepicker-div dl {
  margin: 6px 0;
}
.ui-timepicker-div .ui-state-default {
  border-color: #999!important;
}
.ui-timepicker-div .ui-state-default.ui-state-hover {
  background: #f9f9f9;
  border-color: #666666!important;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
.ui-timepicker-div .ui_tpicker_time_label,
.ui-timepicker-div .ui_tpicker_time {
  display: inline-block;
  font-size: 90%;
}
.ui-timepicker-div .ui_tpicker_time {
  margin-left: 12px;
  font-weight: 500;
  color: #333;
}
.ui-timepicker-div .ui_tpicker_hour_label,
.ui-timepicker-div .ui_tpicker_minute_label {
  padding-top: 9px;
  font-size: 90%;
}
.ui-timepicker-div .ui_tpicker_hour,
.ui-timepicker-div .ui_tpicker_minute {
  margin: 0;
  padding-top: 9px;
}
.ui-timepicker-div .ui-slider-horizontal .ui-slider-handle {
  top: -7px;
}
.ui-datepicker-buttonpane {
  clear: both;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  font-size: 90%;
}
/*BEGIN TOOL HEADERS*/
.stream_pages {
  /*
	font: 400 'Helvetica Neue', Arial, sans-serif;
	*/

  color: #333;
  padding: 0;
  margin: 0;
}
.stream_pages h1 {
  box-shadow: none;
  position: relative;
  font-weight: 600;
  font-size: 210%;
  padding: 0;
  letter-spacing: 0;
  text-shadow: none;
  margin: 24px 0 18px 30px;
  /* Please do not change. This is the new layout. */

  top: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  line-height: 1;
}
.vertical_filter {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
}
.vertical_filter .stream_full {
  width: 100%;
  padding: 0;
  background: white;
}
.vertical_filter .stream_header {
  width: 280px;
  float: left;
  box-sizing: border-box;
  background: #E7E5E0;
}
.vertical_filter .stream_full {
  padding: 0;
  background: #FFF;
  /* background: #F5EBD6; */

}
.vertical_filter .stream_item {
  padding: 12px 24px 14px;
}
.vertical_filter .stream_dynamic_filters {
  position: relative;
  display: block !important;
  left: 0px;
  margin-left: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  width: auto;
  border: none;
}
.vertical_filter .stream_dynamic_filters ul {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
}
.vertical_filter .stream_list_filter {
  text-align: left;
  /*  border-top: 1px solid #ccc; */

  padding: 0 12px;
  margin-bottom: 9px;
}
.vertical_filter .stream_filter_container {
  border-bottom: 1px solid #CCC;
  padding-bottom: 15px;
}
.vertical_filter .left_stream_wrapper {
  margin: 0 0 0 280px;
  padding: 0;
  border-left: 1px solid #CCC;
  background: white;
  -moz-box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.15);
  border-left: 1px solid #BBB;
  z-index: 10;
  position: relative;
}
.vertical_filter h1 {
  margin: 24px 0 18px 24px;
}
.vertical_filter h1 .current-page {
  color: white;
  font-weight: 600;
  display: inline-block;
  font-family: Georgia, serif;
  font-size: 150%;
  min-height: 39px;
  text-align: center;
  vertical-align: middle;
}
.vertical_filter h1 .current-page .icon {
  display: inline-block;
  height: 36px;
  width: 36px;
  margin: 0;
  background-image: url(../images/mybb/mybb_title_sprite.png);
  background-repeat: no-repeat;
}
.vertical_filter h1 .ribbon-text {
  display: none;
}
.stream_page_left {
  position: relative;
  border-right: 1px solid #CCC;
  float: left;
  background: #E7E5E0;
}
.title-date,
.title-text {
  text-transform: none;
  margin: 0;
  font-weight: 200;
  color: #311D11;
  color: #01758C;
  position: relative;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  word-wrap: break-word;
}
.title-date {
  margin-left: -9px;
}
#streamHeader_calendar .icon {
  background-position: center -408px;
}
/*END TOOL HEADERS*/
.current-page .icon.calendar {
  background-position: center -408px;
}
.section-title {
  font-family: 'Helvetica Neue', "anivers", 'Museo', sans-serif;
  /*			text-transform: uppercase;*/

  color: #999;
  font-weight: 200;
  font-size: 160%;
  letter-spacing: 0;
  padding: 12px 0;
  margin: 0 0 0px;
  position: relative;
  border-bottom: 1px solid #CCC;
}
.cal-nav {
  text-align: center;
  width: 240px;
  margin: 0 auto 18px;
  padding: 0;
}
.cal-nav li {
  background-color: transparent;
  padding: 4px;
  display: inline-block;
  background-image: url('../images/calendar/calendar-switch-sprite.png');
  background-repeat: no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}
.cal-nav li:hover {
  background-color: #eee;
  background-color: rgba(0, 0, 0, 0.05);
}
.cal-nav li.active {
  border-radius: 2px;
  background-color: #EEE;
  background-color: rgba(0, 0, 0, 0.05);
  color: #333;
  border: 1px solid #CCC;
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5), 1px 1px 7px rgba(0, 0, 0, 0.1) inset;
}
.cal-nav li a {
  display: block;
  width: 31px;
  height: 25px;
}
.cal-nav li#month {
  background-position: center 4px;
}
.cal-nav li#agendaWeek {
  background-position: center -41px;
}
.cal-nav li#agendaDay {
  background-position: center -86px;
}
.cal-nav li#termView {
  background-position: center -131px;
}
.cal-nav li#agenda {
  background-position: center -176px;
}
.ui-datepicker {
  margin: 0 auto;
}
#datepicker .ui-datepicker {
  border: 0 !important;
}
.date-time-entry {
  margin: 10px 20px;
}
.form-layer {
  display: block;
}
.form-layer .form-slot {
  display: inline-block;
  float: left;
  padding: 5px 10px 5px 0;
}
.form-layer .form-slot label {
  line-height: 1.6em;
}
.form-layer .form-slot:first-child {
  min-width: 98px;
}
.recur-fields {
  border: 1px solid #ccc;
  padding: 12px;
  background: #eee;
  border-radius: 4px;
  margin: 3px 0 0;
}
.recur-fields span,
.recur-fields label {
  color: #666666;
}
.recur-fields .recur-days label {
  display: inline-block;
  padding: 1px 4px;
  background: -moz-linear-gradient(100% 100% 90deg, #cfcfcf, #efefef) repeat scroll 0 0 #cfcfcf;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#efefef), to(#cfcfcf));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#CFCFCF)";
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#efefef, endColorstr=#cfcfcf);
  border: 1px solid #BBBBBB;
  border-radius: 2px;
  min-width: 16px;
  text-align: center;
}
.recur-fields .recur-days label:hover,
.recur-fields .recur-days label:focus,
.recur-fields .recur-days input[type=checkbox]:focus + label {
  background: #CFCFCF;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CFCFCF, endColorstr=#CFCFCF)";
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#cfcfcf, endColorstr=#cfcfcf);
  border-color: #999999;
  color: #373737;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.recur-fields .recur-days .recur-days-checked {
  background: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff, endColorstr=#fff)";
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff);
  color: #000;
  font-weight: bold;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}
.recur-fields .recur-days input[type=checkbox]:focus + .recur-days-checked,
.recur-fields .recur-days .recur-days-checked:hover {
  border-color: #777;
  background: #D1EAEF;
  background: -moz-linear-gradient(100% 100% 90deg, #d1eaef, #ffffff) repeat scroll 0 0 #cfcfcf;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff f), to(#d1eaef));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#D1EAEF)";
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#d1eaef);
}
.recur-select {
  position: relative;
  display: inline-block;
}
#RECUR:checked + .recur-select:before {
  content: "";
  position: absolute;
  border-bottom: 9px solid #ccc;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 0;
  display: block;
  left: 50%;
  bottom: -9px;
  margin-left: -9px;
}
#RECUR:checked + .recur-select:after {
  content: "";
  position: absolute;
  border-bottom: 8px solid #eee;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 0;
  display: block;
  left: 50%;
  bottom: -10px;
  margin-left: -8px;
  z-index: 11;
}
/* Packaging scenarious for calendar view variations
------------------------------------------------------------------------*/
.calendar-learn {
  /* for personal, institution and course calendars */

}
.calendar-learn .container {
  padding: 0;
  font-size: 109%;
}
.if-content {
  /* for mybb calendar */

  margin: 0;
  font-size: 0.85em;
}
.if-content .container {
  padding: 0;
}
/* Custom Add-ins
------------------------------------------------------------------------*/
.fc-button-main {
  background: #CFCFCF;
  background-image: -moz-linear-gradient(100% 100% 90deg, #cfcfcf, #efefef);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#efefef), to(#cfcfcf));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#cfcfcf";
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#efefef, endColorstr=#cfcfcf);
  border: 1px solid #BBB;
  color: #676767;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
}
.fc-button-main:hover,
.fc-button-main:focus {
  border-color: #999;
  background-image: -moz-linear-gradient(100% 100% 90deg, #cfcfcf, #cfcfcf);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(#cfcfcf), to(#cfcfcf));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cfcfcf, endColorstr=#cfcfcf";
  filter: progid:dximagetransform.microsoft.gradient(startColorstr=#cfcfcf, endColorstr=#cfcfcf);
  color: #373737;
}
.fc-button-img {
  padding: 5px;
  height: auto;
  overflow: hidden;
}
.button-img-prev,
.button-img-next,
.button-img-create {
  display: block;
  width: 16px;
  text-indent: -1000px;
  background: url('../images/calendar/arrow-nav-sprite.png') no-repeat 0 -90px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.button-img-next {
  background-position: 0 -60px;
}
.button-img-create {
  background: url('../images/calendar/calendar_add_event.png') no-repeat 0 0;
}
