/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}

.dashd .panel-heading {
    min-height: 78px !important;
}
.dashd .huge{
    font-size:20px;
    margin: 2% 2%;
}
.huge_sub {
    padding: 0 2%;
}
.dashd #school-info-left{
    position: fixed;top: 60px;min-height: 200px;width: 188px;
}
.dashd .scholl-left-wrapper{
    width:100%; text-align:center;
}
.dashd .scholl-left-wrapper img{
    border-radius: 50%; border: 2px solid #E7E7E7;
}
.dashd div.module-panel{
    transition:All 0.7871s ease;
    -webkit-transition:All 0.7871s ease;
    -moz-transition:All 0.7871s ease;
    -o-transition:All 0.7871s ease;
}
.dashd .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.dashd div.dashdesign div div.row div.col-xs-3 img, div.dashdesign div div.row div.col-xs-3 i {
    display: none;
}
.dashd .school-info{
    line-height:normal  !important;
    height:45px;
    width:320px;
    position:absolute;
}
.dashd .label-large.arrowed::before, .label-large.arrowed-in::before {
    border-width: 22px 8px;
}
.dashd img.desaturate{
    -webkit-filter: grayscale(1); -webkit-filter: grayscale(100%);
    filter: gray; filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
}
table tr.filters {
    display: none;
}
div.tab-content div.tab-pane.box table tr td a {
    /*cursor: not-allowed;*/
}
ul.portletList-img.courseListing.coursefakeclass li img {
    display: none;
}
div.test32{
    float: left;
    width: 100%;
}
.box.onad {
    /* margin: 20px; */
    position: relative important;
    height: auto !important;
    width: 100% !important;
    float: left !important;
}
.portlet h2{
    padding: 8px 8px 8px 12px;
    background: transparent;
    margin: 0;
    font-size: 110%;
    position: relative;
    vertical-align: middle;
    overflow: visible;
    color: #444;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 2px 2px 0 0;
    background-color: #0789DC;
    color: #666666;
}
#div_251_1 p a img {
    display: none;
}
h2.system_name_head{
    font-size: 14px;
    margin: 0px 0 0px 0;
    padding: 0%;
    border-radius: 3px;
    color: #ffffff;
    text-align: left;
    line-height: 30px;
}
.callout h4{
    float: left;
    font-size: 20px;
    color: #ffffff;
}
h3.system_name_sub_head{
    font-size: 13px;
    margin: 0px;
    padding: 0%;
    border-radius: 3px;
    color: blanchedalmond;
    margin: 0;
    padding: 0;
    line-height: 27px;
}
div.head_block{
    text-align: center;
    margin: auto;
    background: #3C8DBC;
    border-radius: 3px;
    color: #ffffff;
    width: 97%;
}
.dashd .panel .panel-footer span a {
    pointer-events: none;
}
.dashd .col-xs-9.text-right div {
    margin: 2% 7%;
}
.tile-stats{
    height:148px;
}
.collapsible table.bMedium{
    width:100%;
}
body .page-container .sidebar-menu #main-menu li a{
    text-transform: capitalize;
}
a{
    text-decoration: none !important;   
}
.page-container .main-content{
    padding: 0 20px;
}
.row.teaching_mis {
    margin: 2% 1%;
}
.row.teaching_mis ul li {
    background-image: url('../images/arrow.jpg');
    background-repeat: no-repeat;
    padding-left: 47px;
    height: 30px;
}
div.modal-body{
        height: 1000px;
    overflow: auto;
    max-height:1000px;
}


/************************************************************/
.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        /*background-color: black;*/
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: -136%;
        left: 0%;
        width: 100%;
        height: auto;
        padding: 10px;
        border: 5px solid orange;
        background-color: white;
        z-index: 1002;
        overflow: auto;
    }
    .white_content.std_manage {
        top: -20%;
    }
    div.white_content table tr td:first-child {
        text-align: center;
    }
    td.viewpopup p a{
        color: blue;
        font-size: 12px;
        font-weight: bold;
    }
/************************************************************/
/************************************************************/
.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 5%;
    left: 15%;
    width: 70%;
    height: 100%;
    padding: 16px;
    border: 5px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
/************************************************************/
.login-page.login-form-fall-init .login-form{
    background-image: url("../images/cubes.png");
    border-bottom: 1px solid #cdcdcd;
}
.login-page,
div.page-body.login-page.login-form-fall,
div.login-header.login-caret{
    background-color: #ffffff !important;
}
.modal.fade{
    width: 1000px;
    height: 800px;
    left: 300px;
}
.modal.fade.in{
    top: 40% !important;
}
table.border_new,
table.border_new tr,
table.border_new th,
table.border_new tr td{
border: 1px solid #cccccc;
}
div.modal-content{
    width: 900px;
    left: -150px;
}
table.border_new.test tr td {
    width: 130px;
    padding: 2%;
}
div.row.idcard.midterm{
background-image: url('../images/mid_term_admit_card.jpg');
}
div.row.idcard.finalterm{
background-image: url('../images/final_term_admit_card.jpg');
}
div.row.idcard{
background-image: url('../images/id_card.png');
    background-repeat: no-repeat;
    width: 850px;
    height: 400px;
}
.inner-wrap.acdqual tr td input {
    width: 100px;
}
.inner-wrap.acdqual tr td label {
    font-size: 11px;
}
div.row.idcard .panel-body{
height: 382px;
}
div.row.idcard div.panel.panel-primary{
    background-color: transparent;
}
div.row.idcard label.col-sm-3.control-label{
    display: none;
}
.box{
    border-top:1px solid #d2d6de !important;
}
div.form-group label.col-sm-3.control-label {
    text-transform: capitalize !important;
}
.part input.form-control {
    margin: 1% 0;
}
.part input.part1.form-control {
    border: 0;
    box-shadow: 0 0; pointer-events: none;
    display: none;
}
div.ttt{
    border: 1px solid #ccc;
}


/*
Admission Form Design
*/
.form-style-10{
    max-width:1000px;
    padding:30px;
    margin:10px auto;
    background: #FFF;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;
}
.form-style-10 h1{
    background: #2A88AD;
    text-align: center;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}
.form-style-10 h1 > span{
    text-align: center;
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 h3{
    background: #2A88AD;
    text-align: center;
    padding: 20px 30px 15px 30px;
    margin: -30px -30px 30px -30px;
    border-radius: 0px 0px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 15px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
}
.form-style-10 h3 > span{
    text-align: center;
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-10 label{
    display: block;
    font: 13px Arial, Helvetica, sans-serif;
    color: #888;
    margin-bottom: 15px;
}
.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="url"],
.form-style-10 input[type="password"],
.form-style-10 textarea,
.form-style-10 select {
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3px;
    border-radius: 6px;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border: 2px solid #fff;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

.form-style-10 .section{
    font: normal 20px 'Bitter', serif;
    color: #2A88AD;
    margin-bottom: 5px;
}
.form-style-10 .section span {
    background: #2A88AD;
    padding: 5px 10px 5px 10px;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #fff;
    font-size: 14px;
    margin-left: -45px;
    color: #fff;
    margin-top: -3px;
}
.form-style-10 input[type="button"],
.form-style-10 input[type="submit"]{
    background: #2A88AD;
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
    font: normal 30px 'Bitter', serif;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
    border: 1px solid #257C9E;
    font-size: 15px;
}
.form-style-10 input[type="button"]:hover,
.form-style-10 input[type="submit"]:hover{
    background: #2A6881;
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
    box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
/*.form-style-10 .privacy-policy{
    float: right;
    width: 250px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #4D4D4D;
    margin-top: 10px;
    text-align: right;
}*/
div.form-style-10 table {
    width: 100%;
}
div.form-style-10 table.tabl tr td {
    width: 30%;
}
div.form-style-10 h3 {
    font-size: 20px;
}
.inner-wrap.acdqual tr td {
    width: 15%;
}
/*
Admission Form Design
*/
/******************************************************************************************/
#view div.col-md-6 div.daterows {
    border: 1px solid #f2f2f2;
    float: left;
    width: 42px;
    text-align: center;
    border-left: 0;
}
div.clearboth{
    clear: both;
    width: 100%;
    float: left;
}
div.date_rows_blocks{
    border: 1px solid #f2f2f2;
}
#view div.col-md-6 div.daterows span {
    color: blue;
    font-size: 16px;
    background: #f2f2f2;
}
/*textarea.notification{
    width: 100%;
    height:100px;
}*/
.col-md-12.part table tr td {
    width: 200px;
    text-align: center;
    padding: 1px 0;
}
.otherdocs div {
    width: 30%;
    float: left;
    margin: 0 1%;
    text-align: center;
}
.courses.nav-tabs>li>a{
    padding-right: 1px;
    padding-left: 3px;
}
div.col-md-12.coursereg .form-group{
    float: left;
    margin: 0px 0px 21px 0px;
}
div.sss{
    float: left;
}
div.ssd{
    margin: 10px 0 20px 0;
}
div.ssad{
    
}
div.clearboth{
    float: left;
    clear: both;
    width: 100%;
}
table.attn_report tr td div {
    border: 1px solid #cccccc;
    width: 100px;
    text-align: center;
}
table.attn_report tr td:nth-child(1) div, table.attn_report tr td:nth-child(3) div {
    width: 98px;
}
table.attn_report tr td {
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
    padding-left: 0;
}
table.attn_report tr td {
    border: 0;
}
table.attn_report tr td div {
    border: 1px solid #cccccc;
    width: 100px;
    text-align: center;
}
table.attn_report tr td:nth-child(2) div {
    width: 150px;
    text-align: left;
}
tbody.examroutine div{
    width: 350px;
}
table.ttres td {
    width: 100px;
    font-size: 12px;
}
table.ttres tr {
    border: 1px solid #cccccc;
}
table td.modlapopup a img{
    width: 30px;
    height: 30px;
}
td.program_name12 div {
    width: 240px;
}
td.program_name13 div {
    width: 170px;
}
td.program_name14 div {
    width: 260px;
}
td.tblactions div{
    width: 180px;
}
.page-body .datatable.table tbody td{
    font-size: 12px;
    margin: 0;
    padding: 0 5px;
    line-height: 20px;
}
th.sorting div {
    font-size: 11px;
}
table.ttres.table.table-bordered.datatable div {
    font-size: 11px;
}
.page-container .sidebar-menu header.logo-env{
    padding: 0px 20px;
}
.col-md-2.social_links a img {
    width: 25px;
    margin: 13px 2px;
}
.col-md-12.col-sm-12.clearfix.user_settings li a img {
    width: 50px;
    margin: 0;
    padding: 0;
}
.col-md-12.col-sm-12.clearfix.user_settings ul{
    margin: 0;
    padding: 0;
}
.col-md-12.col-sm-12.clearfix.user_settings ul li a {
    color: #ffffff;
    font-size: 12px;
}
h3.adm_form_head_setting{
    float: left;
    line-height: 22px;
    font-size: 15px;
}
div.onadf{
    width: 100%;
    clear: both;
}
ul.list-inline.links-list.pull-right{
    position: relative;
    margin-top: 14px !important;
}
div.row{
    clear: both;
}
div.shortlist div.col-md-3.tt,
div.shortlist div.col-md-6.tt,
div.shortlist div.col-md-2.tt{
    border: 1px solid #cccccc;
}
div.shortlist h4{
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.floatright{
    float: right;
    text-align: right;
}
.shortlist input[type="text"] {
    width: 100%;
}
.col-md-12.shortlist .col-md-5 {
    margin: 0;
    padding: 0 5px;
}
div.fiftyfifty select{
    width: 50%;
    float: left;
}
td.coursss div.first{
    width: 400px;
    line-height: 6px;
}
td.coursss.tt div.first{
    width: 200px;
    line-height: 16px;
}
td.coursss div.first div.second{ 
     float: right;
    margin-top: -11px;
    padding-top: 0;
}